body,html{
    width: 100%;
    height: 100%;
}
canvas{
    display: block;
}
.content{
    position: relative;
}

.colors{
    position: absolute;
    top: 5px;
    padding: 10px;
}
.colors button{
    width: 30px;
    height: 30px;
    border:  0px;
    border-radius: 50%;
    outline: none;
}

.delete{
    position:absolute;
    top:5px;
    padding: 10px;
    margin-left: 170px;
}

#color1{
    background-color: red;
}
#color2{
    background-color: yellowgreen;
}
#color3{
    background-color: blue;
}
#color4{
    background-color: yellow;
}
#color5{
    background-color: black;
}
#btn_delete{
    width: 30PX;
    height: 30px;
    border-color:#000;
    color: red;
}